<% include partials/header %>

	<script language='javascript'>
		$(document).ready(function() {
		    $('.ui.accordion').accordion();
		});
	</script>

<div id="main" class="ui container text noselect">

	<h1>Tower Interior</h1>

	<a href="/towers/<%= tower.key %>/edit">
		<div class="ui animated button bottomMargin" tabindex="0" onclick="return confirm('If you have not pressed submit, all unsaved info will be lost');">
			<div class="visible content">Edit General</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>	
	</a>

	<a href="#">
		<div class="ui animated button bottomMargin" tabindex="0" onclick="return confirm('If you have not pressed submit, all unsaved info will be lost');">
			<div class="visible content">Edit Exterior</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>	
	</a>

	<a href="#">
		<div class="ui animated button bottomMargin" tabindex="0" onclick="return confirm('If you have not pressed submit, all unsaved info will be lost');">
			<div class="visible content">Edit Bells</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>	
	</a>

	<form class="ui form noselect" action="/towers" method="POST">

		<!-- show only 'groundFloor' 'belfry' and 'landing' -->
		<% for (var key in tower.val()) { %>
			<% if (tower.val().hasOwnProperty(key)) { %>
				<% if (key.substring(0, 7) == "landing" || key == "belfry" || key == "groundFloor") { %> 
					<div class="ui fluid accordion">
						<div class="title">
							<h2><%= key %></h2>
						</div>
						<div class="content whitePaddedContent">
						</div>

						<div class="title">
							<i class="dropdown icon"></i>
							data
						</div>
						<div class="content whitePaddedContent">
							<% for (var field in tower.val()[key]) { %>
								<% if (tower.val()[key].hasOwnProperty(field)) { %>
									<input type="text" name="<%= key %>[<%= tower.val()[key][field] %>]" placeholder="<%= field %>" value="<%= tower.val()[key][field] %>"  >
								<% } %> 
							<% } %>
						</div>

						<div class="title">
							<p>submit</p>
						</div>
						<div class="content whitePaddedContent">
							<p>be safe</p>
						</div>
					</div>
				<% } %> 
			<% } %>
		<% } %>

		<div class="field">
			<input class="ui fluid green button" type="submit"> 
		</div>
	</form>
</div>

<% include partials/footer %>