<div id="interiorData">

<!-- show only 'groundFloor' 'belfry' and 'landing' -->
	<% for (var key in tower.val().data.landings) { %>
		<% if (tower.val().data.landings.hasOwnProperty(key)) { %>
			<% if (key.substring(0, 7) == "landing" || key == "belfry" || key == "groundFloor") { %> 
				<div class="ui fluid accordion">
					<div class="title">
						<h2><%= key %></h2>
					</div>
					<div class="content whitePaddedContent">
					</div>

					<div class="title">
						<i class="dropdown icon"></i>
						data
					</div>
					<div class="content whitePaddedContent">
						<% for (var field in tower.val().data.landings[key]) { %>
							<% if (tower.val().data.landings[key].hasOwnProperty(field)) { %>
								<label><%= field %></label>
								<input type="text" name="bellTower[data][landings][<%= key %>][<%= field %>]" placeholder="<%= field %>" value="<%= tower.val().data.landings[key][field] %>"  >
							<% } %> 
						<% } %>
					</div>

					<div class="title">
						<p>submit</p>
					</div>
					<div class="content whitePaddedContent">
						<p>be safe</p>
					</div>
				</div>
			<% } %> 
		<% } %>
	<% } %>

</div>